<div class="container parent-of-list">
  <div class="col-md-2 filter-side">
    <div class="row">
      <form class="form-inline" #form="ngForm" (ngSubmit)="loadUsers()">
        <div class="form-group">
          <label for="minAge">Age From</label>
          <input type="number" class="form-control" style="width: 70px" id="minAge" name="minAge" [(ngModel)]="userParams.minAge">
        </div>

        <div class="form-group">
          <label for="maxAge">Age To</label>
          <input type="number" class="form-control" style="width: 70px" id="maxAge" name="maxAge" [(ngModel)]="userParams.maxAge">
        </div>

        <div class="form-group">
          <label for="gender">Show: </label>
          <select class="form-control" style="width: 130px" id="gender" name="gender" [(ngModel)]="userParams.gender">
            <option *ngFor="let gender of genderList" [value]="gender.value">
              {{gender.display}}
            </option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary" style="margin-left:10px">Apply Filters</button>
        <button type="button" class="btn btn-info" style="margin-left:10px" (click)="resetFilters()">Reset Filter</button>

      </form>
    </div>
    <br>
  </div>


  <div class="col-md-10">
    <div class="row">
      <div class="pull-right">
        <label style="margin-right: 10px">Order By:</label>
        <div class="btn-group">
          <button type="button" name="orderBy" [(ngModel)]="userParams.orderBy" (click)="loadUsers()" class="btn btn-primary"
            btnRadio="lastActive">Last Active</button>
          <button type="button" name="orderBy" [(ngModel)]="userParams.orderBy" (click)="loadUsers()" class="btn btn-primary"
            btnRadio="created">Newest Members</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div *ngFor="let user of users" class="col-lg-3 col-md-4 col-sm-3">
        <app-member-card [user]="user"></app-member-card>
      </div>
    </div>
  </div>
</div>

<div class="text-center">
  <pagination [boundaryLinks]="true" [totalItems]="pagination.totalItems" [itemsPerPage]="pagination.itemsPerPage"
    (pageChanged)="pageChanged($event)" [(ngModel)]="pagination.currentPage" class="pagination-sm" previousText="&lsaquo;"
    nextText="&rsaquo;" firstText="&laquo;">
  </pagination>
</div>