.filter-side {
  border-right: 1px solid #dedede;
  font-family: cursive;
}

.filter-side input, .filter-side select{
  border: unset !important;
  box-shadow: unset !important;
}

.parent-of-list {
  display: flex;
}
